{% extends "base.html" %}

{% block title %}
	File a Car-Theft Claim
{% endblock title %}

{% block content %}
	<div id="whole">
		<div class="container-fluid contact-section-padding">
			<div class="row align-items-center">
				<div class="col-lg-7 mb-5 mb-lg-0">
					<div class="card border-0 shadow-sm">
						<div class="card-body p-5 border-top border-primary border-md">
							<h2 class="lined"><strong>Car Theft Claim</strong></h2>
							<p class="text-muted">File a car-theft claim</p>
							<form method="POST" action="">
								{% csrf_token %}
								<div class="row">
			            <div class="form-group col-lg-6 mb-4">
			              {{ theft_claim_form.name }}
			            </div>
			            <div class="form-group col-lg-6 mb-4">
			              {{ theft_claim_form.occupation }}
			            </div>
			            <div class="form-group col-lg-6 mb-4">
			              {{ theft_claim_form.phone_number }}
			            </div>
			            <div class="form-group col-lg-6 mb-4">
			              {{ theft_claim_form.email }}
			            </div>
			            <div class="form-group col-lg-6 mb-4">
			            	<text class="text-success">Registration Number</text>
			              {{ theft_claim_form.vehicle_registration }}
			            </div>
			            <div class="form-group col-lg-6 mb-4">
			            	<text class="text-success">Vehicle Make</text>
			            	{{ theft_claim_form.vehicle_make }}
			            </div>
			            <div class="form-group col-lg-12 mb-4">
			            	<text class="text-success">Driving Experience in Years</text>
			              {{ theft_claim_form.manufacturer_year }}
			            </div>
			            <div class="form-group col-lg-12">
			              <button class="btn btn-info btn-block" type="submit">Render Claim To PDF</button>
			            </div>
		          	</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}