<html>
<body>
  <h1>Jubilee Interview: Claim Filing App | Car Theft </h1>
  <p>Please Note That:-</p>
  <p>
    It is necessary that great care should be taken in completing this Form and the information given therein should be strictly accurate, irrespective of whether it is in your favour or otherwise. You should not make any payment offer or promise of any payment or admit liability in anyway, as by so doing you may prejudice your position and make settlement a difficult matter.
  </p>
  <hr>
  <br>
  <h3>Personal Information</h3>
  <p>
    Name of Insured: {{ filing.name }}<br>
    Occupation: {{ filing.occupation }}<br>
    Email Address: {{ filing.email }}<br>
    Phone Number: {{ filing.phone_number }}
  </p>

  <h3>Vehicle Particulars</h3>
  <p>Registration No: {{ filing.vehicle_registration }}</p>
  <p>Vehicle Make: {{ filing.vehicle_make }}</p>
  <p>Model: {{ filing.phone_number }}</p>
  <p>Year Manufactured: {{ filing.manufactured_year }}</p>
  <p>
    Is the vehicle the subject of a hire purchase or loan agreement?
    <br>
    {{ filing.hp_loan_agreements }}  
  </p>
</body>
</html>